@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-primary: #1294d4;
}

body {
  @apply bg-gray-50;
}

label.required::after {
  content: " *";
  color: red;
}

.prose li {
  margin-bottom: 0.25rem;
}

.prose strong {
  font-weight: 600; /* semibold */
  font-size: 1.25rem; /* Tailwind text-xl */
  line-height: 1.75rem; /* Tailwind leading-7 */
}
